body{width: 375px;}
h2{
    text-align: center;
    margin: 20px auto;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div > p{
    text-align: center;
}

div > img{
    width: 150px;
    padding: 20px 10px;
}

.icon > a{
    border: solid;
    margin: 20px 10px;
    border-radius: 8px;
}

a{text-decoration: none;}
a:link {color: #000000}
a:visited {color: #000000}
