@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: "Century Gothic",sans-serif;
  color: #24292e;
}

.wrapper {
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
    max-width: 600px;
}
#map {
    padding: 20px 0;
    height: 400px;
    width: 100%;
}
