@charset "UTF-8";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Yu Mincho",sans-serif;
}

.section-title {
  border-bottom: solid 2px #AEAEAE;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 25px;
}


.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

a{
  text-decoration: none;
}
a:link {
  color: #fff
}
a:visited {
  color: #fff
}

/* h2{
  margin: 60px auto;
  border: 1px solid #000;
  border-width: 0 0 1px 7px;
} */

/*メインビジュアル*/
#mainvisual {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
}

#mainvisual img {
  width: 100%;
}

/*About*/
#about p{
  text-align: left;
  font-size: 1.2rem;
}


/* スマホ */

@media screen and (max-width: 600px) {
  .pc-header{
    display: none;
  }
}

/* PC */

@media screen and (min-width: 600px) {
  #mainvisual {
    display: none;
  }
  ul{
    margin:0;
    padding: 0;
    list-style: none;
  } 
  .pc-header{
    background-color: rgb(36, 37, 48);
  }
  .slider {
    width:100%;
    margin:0 auto;
  }
  .slider img {
    width:50vw;
    height:auto;
  }
  .slider .slick-slide {
    transform: scale(0.8);
    transition: all .5s;
    opacity: 0.5;
  }
  .slider .slick-slide.slick-center{
    transform: scale(1);
    opacity: 1;
  }
  .slick-prev, 
  .slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
  } 
  .slick-prev {
    left: 20%;
    transform: rotate(-135deg);
  }
  
  .slick-next {
    right: 20%;
    transform: rotate(45deg);
  }
  .slick-dots {
      text-align:center;
    margin:20px 0 0 0;
  }
  .slick-dots li {
      display:inline-block;
    margin:0 5px;
  }
  .slick-dots button {
      color: transparent;
      outline: none;
      width:8px;
      height:8px;
      display:block;
      border-radius:50%;
      background:#ccc;
  }
  .slick-dots .slick-active button{
      background:#333;
  }
}
/*キャッチコピー*/
.phrase{
    display: none;
    position: absolute; 
    left: 10%; 
    top: 50%;
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div > img{
    width: 150px;
}


.icon > a{
    border: solid;
    margin: 20px 10px;
    border-radius: 8px;
}

#maivisual .btn{
    position: static;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-bottom: solid;
    border-right: solid;
    border-color: #bebebe;
    background-color: #505050;
    padding: 10px;  
    width: 160px;  
    margin: auto;
    margin-top: 14px;
}

/*SNS*/
.sns-icon{
  text-align: center;
}
.btn-social-square {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  margin:2px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  color:#FFF;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
}
.btn-social-square i {
  line-height:50px;
}
.btn-social-square:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.twitter {
  z-index: 2;
  color:#FFF;
}
.facebook{
  z-index: 2;
  color:#FFF;
}
.btn-social-square--twitter {
  background: #22b8ff;
}
.btn-social-square--facebook {
  background: #6680d8;
}
.insta_btn {
  display: inline-block;
  text-align: center;
  color: #2e6ca5;
  font-size: 20px;
  text-decoration: none;
  transition: .3s;
}

.insta_btn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.insta_btn .insta{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
  border-radius: 13px;

}

.insta_btn .insta:before{
  content: '';
  position: absolute;
  top: 23px;
  left: -18px;
  width: 60px;
  height: 60px;
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}

.insta_btn .fa-instagram {
  color: #FFF;
  position: relative;
  z-index: 2;
  font-size: 35px;
  line-height: 50px;
}

/*フッター*/

#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.6rem;
  padding: 10px 20px;
  text-align: center;
}


/*ボタン*/
.board{
  padding-top: 40px;
  text-align: center;
} 

.share-btn p{
  text-decoration: none;
  color: #fff;
}
.share-btn {
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 1.1rem;
  padding: 12px 24px;
  position: relative;
  border: 2px solid #fff;
}
.share-btn:hover {
  border: 2px solid transparent;
  color: #fff000;
}

.share-btn:before, .share-btn:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .4s;
}

.share-btn:before {
  border-bottom: 2px solid #fff000;
  border-left: 2px solid #fff000;
  transform-origin: 100% 0%;
}

.share-btn:after {
  border-top: 2px solid #fff000;
  border-right: 2px solid #fff000;
  transform-origin: 0% 100%;
}

.share-btn:hover:after,
.share-btn:hover:before {
  transform: scale(1);
}