body{width: 100%;}
a{text-decoration: none;}
a:link {color: #000000}
a:visited {color: #000000}
p{text-align: center;}

h1{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 14px;
}

h2{
    text-align: center;
    margin: 20px auto;
}

header{
    background-color: rgb(37, 36, 43); 
    height: 50px;
}
nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -220px;
      width: 220px;
    }
  }
  
  .menu{
      display: block;
      position: absolute;
      top: 12px;
      right: 6%;
      width: 30px;
      height: 30px;
      transition: all .5s;
      cursor: pointer;
      z-index: 3;
  }
  
  .menu span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      transition: all .5s;
  }
  
  .menu span:nth-child(1) {
    top: 4px;
  }
  .menu span:nth-child(2) {
    top: 14px;
  }
  .menu span:nth-child(3) {
    bottom: 4px;
  }
  
  .open .menu_btn span {
    background-color: #fff;
    }
  .open .menu_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .menu_btn span:nth-child(2) {
    opacity: 0;
  }
    .open .menu_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


div > img{
    width: 150px;
    padding: 20px 10px;
}

.icon > a{
    border: solid;
    margin: 20px 10px;
    border-radius: 8px;
}

