body {
    color: #fff;
    background-color: #000;
    font-family: "Yu Mincho",sans-serif;
  }
.bbsitem {
    border-top: 1px solid gray;
    margin: 1em;
}
.writebox {
    border: 2px solid gray;
    padding: 1em;
    margin: 1em;
}
input, textarea {
    width: 80%;
}
#inp_body{
    border: 1px solid gray;
    color: #fff;
}
#inp_name{
    border-bottom: 1px solid gray;
    width: 60%;
    color: #fff;
}
#btn_write{
    padding: 10px 25px;
    margin: 0 0 10px;
    background: #aaa;
    color: #fff;
    display: inline-block;
}
