@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yu Mincho",sans-serif;
    color: #fff;
    background-color: #000;
}

section {
    padding-bottom: 30px;
}

.wrapper {
    margin: 0 auto;
    font-size: 0.9rem;
    max-width: 600px;
}

.section-title {
    border-bottom: solid 2px #AEAEAE;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*
ヘッダー
*/
.header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
  }
  
  #header {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
  }
  
  #header img {
    width: 200px;
    margin: auto;
  }
  /*メインビジュアル*/
  #mainvisual img {
    position: relative;
    width: 100%;
  }
  
  #mainvisual h3{
    position: absolute; 
    left: 10%; 
    top: 50%; 
    font-size: 20px;
    color: white;  
    backdrop-filter: blur(12px);
  }
  
  .btn{
    position: absolute;
    right:7%;
    bottom: 20%; 
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
  }

/*-------------------------------------------
コンテンツ
-------------------------------------------*/
main {
    padding-top:70px;
}
#explain .content {
  padding: 10px;
}
#explain .content p{
  text-align: left;
}
/*-------------------------------------------
地図
-------------------------------------------*/

#map {
    height: 600px;
    max-width: 600px;
    width: 100%;
}

/*-------------------------------------------
マーカーアイコン
-------------------------------------------*/

.map-btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #668ad8;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
  
.btn:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.change img{
    width:10%;
    height:10%;
}

.comment-exp {
  text-align: center;
  padding-bottom: 30px;
}

.comment {
  border-bottom: solid 2px #AEAEAE;
  margin: 1rem auto;

}
.comment:focus {
  border-bottom: solid 2px #049bff;
}
#modal .modal-content a{
  color:white;
}
.modal-content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  color: #000;
  background: #ffffffcb;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 1rem auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

.exp-btn-all {
  text-align: center;
}

.exp-btn{
  text-align: center;
}

.exp-btn:hover {
  border-bottom: solid 2px #049bff;
}